body{ 
    background-color: #4f5f76;
}

input { 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input::placeholder { 
    color: #d3d3d3;
}

.submit { 
    background-color: #6BA3E8;
}

.center-column { 
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #d9d9d9;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.float-right { 
    float: right;
}
.float-left { 
    float: left;
}

.column {
    float: right;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.item-row {
    background-color: #906abd;
    margin: 10px;
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}

.btn-danger { 
    background-color: #ffae19;
    border-color: #e59400;
}
.btn-dark { 
    background-color: #6fcb9f;
    border-color: #6fcb9f;
}
.btn-dark:hover { 
    background-color: #96e7c0;
    border-color: #96e7c0;
}
.btn-primary { 
    background-color: #9e363a;
    border-color: #9e363a;
}
.btn-primary:hover { 
    background-color: #0f2862;
    border-color: #0f2862;
}